@import "../mixins";

.directions {
  margin: var(--big-offset) 0 0;

  &__container {
    position: relative;
    padding: var(--big-offset) var(--average-offset);
    padding-left: calc(var(--average-offset) + 117px + var(--big-offset));
    background-color: var(--color-woodsmoke);

    &::before {
      content: "";
      position: absolute;
      left: var(--average-offset);
      top: var(--big-offset);
      display: block;
      width: 117px;
      height: 117px;
      background-image: url("../img/diamond-abt-1.svg");

      @include small-screen {
        display: none;
      }
    }

    @include small-screen {
      padding: var(--average-offset) var(--average-offset);
    }
  }

  &__text {
    margin: var(--average-offset) 0;
    font: var(--font-regular);
    font-size: 17px;
    line-height: 33px;
    color: var(--color-white);
  }

  &__descr {
    margin: 0;
    font: var(--font-regular);
    font-size: 19px;
    line-height: 33px;
    color: var(--color-shuttle-gray);
  }
}