.conclusion {
  &__container {
    position: relative;
  }

  &__img {
    position: absolute;
    left: calc(392px / 2 * -1);
    top: -20px;
    width: 392px;
    height: 339px;
  }

  &__text {
    position: relative;
    z-index: 1;
    margin: 0;
    font: var(--font-regular);
    font-size: 20px;
    line-height: 34px;
    color: var(--color-woodsmoke);

    &:first-of-type {
      margin: 0 0 var(--average-offset);
      padding: calc(339px / 2) 0 0;
    }

    &:nth-of-type(2) {

    }
  }
}