@import "../mixins";

.header {
  padding: var(--small-offset) 0;
  background-color: var(--color-black);

  &__container {
    display: flex;
    justify-content: space-between;

    @include xlarge-screen {
      align-items: center;
    }
  }

  &__logo {
    width: 120px;
    height: 67px;
  }

  &__nav {
    display: flex;

    @include xlarge-screen {
      display: none;
    }
  }

  &__list {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    transition: opacity 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: calc(var(--small-offset) * -1);
      width: 0;
      height: 3px;
      background-color: var(--color-primary);
      transition: width 0.3s ease-in-out;
    }

    &::after {
      content: "";
      display: inline-block;
      margin: 0 0 0 var(--small-offset);
      width: 13px;
      height: 7px;
      background-image: url("../img/arrow-down-w.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      transition: transform 0.3s ease-in-out;
    }

    &:not(:last-child) {
      margin: 0 var(--big-offset) 0 0;
    }

    &:hover {
      opacity: 0.8;

      &::before {
        width: 100%;
      }

      &::after {
        transform: rotate(180deg);
      }

      .header__sub-list {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
  }

  &__link {
    font: var(--font-regular);
    font-size: 18px;
    color: var(--color-white);
  }

  &__sub {
    &-list {
      position: absolute;
      left: calc(var(--average-offset) * -1);
      top: 80px;
      padding: var(--big-offset) var(--average-offset);
      min-width: 550px;
      box-shadow: 0 8px 83px rgb(8 9 16 / 7%);
      background-color: var(--color-white);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      pointer-events: none;

      &--third {
        display: flex;

        .header__sub-item:not(:last-child) {
          margin: 0 var(--middle-offset) 0 0;
        }
      }
    }

    &-item {
      line-height: initial;

      &:not(:last-child) {
        margin: 0 0 var(--small-offset);
      }
    }

    &-link {
      font: var(--font-regular);
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  &__inner-list {
    padding-inline-start: 20px;
  }

  &__btns {
    display: flex;
    align-items: center;

    @include xlarge-screen {
      display: none;
    }
  }

  &__btn {
    color: var(--color-primary);
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    &--border {
      display: inline-block;
      margin: 0 0 0 var(--average-offset);
      border: 1px solid var(--color-primary);
      padding: var(--small-offset);
    }
  }

  &__burger {
    display: none;

    &::before,
    &::after {
      background-color: var(--color-white);
    }

    @include xlarge-screen {
      display: block;
    }
  }
}
