@import "../mixins";

.header {
  background-color: var(--color-black);

  &__container {
    display: flex;
    justify-content: space-between;

    @include xlarge-screen {
      align-items: center;
    }
  }

  &__logo {
    padding: var(--small-offset) 0;

    img {
      width: 120px;
      height: 67px;
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;

    @include xlarge-screen {
      transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;

      &--show {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        display: block;
        overflow-y: auto;
        margin: 0 0 var(--big-offset);
        padding: calc(var(--big-offset) * 3) var(--big-offset) var(--big-offset);
        width: 100vw;
        height: 100vh;
        background-color: var(--color-white);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
  }

  &__nav {
    display: flex;
    margin: 0 auto;

    @include xlarge-screen {
      display: none;
    }
  }

  &__list {
    position: relative;
    display: flex;
    align-items: center;

    @include xlarge-screen {
      justify-content: space-between;
      width: 100%;
    }

    @include medium-screen {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    transition: opacity 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 3px;
      background-color: var(--color-primary);
      transition: width 0.3s ease-in-out;

      @include xlarge-screen {
        display: none;
      }
    }

    &::after {
      content: "";
      display: inline-block;
      margin: 0 0 0 var(--small-offset);
      width: 13px;
      height: 7px;
      background-image: url("../img/arrow-down-w.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      transition: transform 0.3s ease-in-out;
    }

    &:not(:last-child) {
      margin: 0 var(--big-offset) 0 0;

      @include medium-screen {
        margin: 0;
      }
    }

    &:hover {
      opacity: 0.8;

      &::before {
        width: 100%;
      }

      &::after {
        transform: rotate(180deg);
      }

      .header__sub-list {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    @include medium-screen {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    font: var(--font-regular);
    font-size: 18px;
    color: var(--color-white);

    @include xlarge-screen {
      font-size: 21px;
      color: var(--color-shuttle-gray);
    }
  }

  &__sub {
    &-list {
      position: absolute;
      left: calc(var(--average-offset) * -1);
      top: 90px;
      padding: var(--big-offset) var(--average-offset);
      min-width: 550px;
      box-shadow: 0 8px 83px rgb(8 9 16 / 7%);
      background-color: var(--color-white);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      pointer-events: none;

      &--third {
        display: flex;

        .header__sub-item:not(:last-child) {
          margin: 0 var(--middle-offset) 0 0;

          @include xlarge-screen {
            margin: 0 0 var(--small-offset);
          }
        }
      }

      @include xlarge-screen {
        padding: 0 var(--average-offset);
        min-width: 200px;
        box-shadow: unset;
        background: transparent;
        pointer-events: all;
      }

      @include medium-screen {
        position: relative;
        left: 0;
        top: 0;
        margin: var(--middle-offset) 0;
        padding: 0;
        min-width: unset;
      }
    }

    &-item {
      line-height: initial;

      &:not(:last-child) {
        margin: 0 0 var(--small-offset);
      }

      &:last-child {
        @include xlarge-screen {
          margin: 0 0 calc(var(--big-offset) * 2);
        }

        @include medium-screen {
          margin: 0;
        }
      }
    }

    &-link {
      font: var(--font-regular);
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  &__inner-list {
    padding-inline-start: 20px;

    // @include xlarge-screen {
    //   margin: var(--small-offset) 0 0;

    //   .header__sub-item {
    //     margin: 0;
    //   }
    // }
  }

  &__btns {
    display: flex;
    align-items: center;

    @include xlarge-screen {
      position: absolute;
      left: var(--big-offset);
      top: var(--big-offset);
      z-index: 10;
      display: none;
    }
  }

  &__btn {
    color: var(--color-primary);
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    &--border {
      display: inline-block;
      margin: 0 0 0 var(--average-offset);
      border: 1px solid var(--color-primary);
      padding: var(--small-offset);
    }
  }

  &__burger {
    display: none;

    &::before,
    &::after {
      background-color: var(--color-white);
    }

    @include xlarge-screen {
      display: block;
      margin: 0 0 0 auto;
    }
  }
}
