.idx-news {
  padding: 0 0 var(--big-offset);
  background-color: var(--color-alabaster);

  &__wrapper {
    display: flex;
  }

  &__title {
    margin: calc(var(--big-offset) + 30px) 0 var(--average-offset) 0;
  }

  &__left {
    position: relative;
    margin: 0 var(--average-offset) 0 0;
  }

  &-item {
    background-color: var(--color-white);

    &__container {
      padding: var(--big-offset);
    }

    &__img {
      width: 100%;
    }

    &__title {
      font: var(--font-regular);
      font-size: 26px;
      line-height: 28px;
      color: var(--color-woodsmoke);
    }

    &__descr {
      margin: var(--middle-offset) 0 var(--big-offset) 0;
      font: var(--font-regular);
      font-size: 19px;
      color: var(--color-shuttle-gray);
    }

    &__date {
      font: var(--font-regular);
      font-size: 19px;
      color: var(--color-silver);
    }
  }

  &__btn {
    position: absolute;
    left: 0;
    bottom: var(--big-offset);
    border: 1px solid var(--color-primary);
    padding: var(--small-offset);
    color: var(--color-primary);

    &::after {
      content: "";
      display: inline-block;
      margin: 0 0 0 var(--small-offset);
      width: 12px;
      height: 9px;
      background-image: url("../img/arrow-right.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}