@import "../mixins";

.idx-info {
  padding: var(--big-offset) 0;

  &__title {
    margin: 0 0 var(--big-offset) var(--big-offset);
    color: var(--color-woodsmoke);

    @include small-screen {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 var(--big-offset);
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: var(--big-offset);
    background-color: var(--color-alabaster);

    @include large-screen {
      padding: var(--big-offset) 0;
    }

    @include small-screen {
      flex-direction: column;
    }
  }

  &__item {
    width: calc(100% / 3 - 30px);

    @include small-screen {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      &:not(:last-child) {
        margin: 0 0 var(--big-offset);
      }
    }
  }

  &__img {
    margin: 0 0 var(--big-offset) 0;
    width: 100px;
    height: 100px;
    box-shadow: 0 22px 58px rgb(42 49 141 / 34%);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-primary);

    &--first {
      background-image: url("../img/user.svg");
    }

    &--second {
      background-image: url("../img/eye.svg");
    }

    &--third {
      background-image: url("../img/connection.svg");
    }

    @include small-screen {
      margin: 0 0 var(--middle-offset) 0;
    }
  }

  &__subtitle {
    margin: 0 0 var(--middle-offset) 0;
    font: var(--font-regular);
    font-size: 27px;
    color: var(--color-woodsmoke);

    @include small-screen {
      margin: 0 0 var(--small-offset) 0;
    }
  }

  &__descr {
    font: var(--font-regular);
    font-size: 17px;
    line-height: 25px;
    color: var(--color-emperor);

    @include small-screen {
      text-align: center;
    }
  }
}
