.news {
  padding: var(--big-offset) 0;
  background-color: var(--color-alabaster);

  &__title {
    margin: 0;
  }

  &__wrapper {
    display: flex;
    margin: var(--big-offset) 0;

    @include xlarge-screen {
      justify-content: space-evenly;
    }

    @include medium-screen {
      flex-direction: column;
    }
  }

  &__left {
    margin: 0 var(--big-offset) 0 0;
    max-width: calc(50% - var(--big-offset));

    @include medium-screen {
      margin: 0 0 var(--big-offset);
      width: 100%;
      max-width: none;
    }
  }

  &__right {
    max-width: calc(50% - var(--big-offset));

    @include medium-screen {
      width: 100%;
      max-width: none;
    }
  }

  &__pages {
    display: flex;
    align-items: baseline;

    @include small-screen {
      flex-wrap: wrap;
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0 var(--average-offset) 0 0;
    }

    @include small-screen {
      margin: 0 var(--average-offset) var(--average-offset) 0;
    }
  }

  &__link {
    font: var(--font-regular);
    font-size: 30px;
    color: var(--color-woodsmoke);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--color-primary);
    }

    &--selected {
      color: var(--color-primary);
    }
  }

  &__img {
    &:hover {
      stroke: var(--color-primary);
    }

    &--next {
      transform: rotate(180deg);
    }

    &--last {
      transform: rotate(180deg);
    }
  }
}
