<div class="about__info">
  <p class="about__text">Компания Billi inc Corp была основана профессиональными инвесторами, которые четко понимают
    концепцию диверсификации,
    подразумевающую распределение денежных вложений между несколькими инвестиционными инструментами, тем самым
    обеспечивая
    высокую безопасность вложений.
    Многолетний опыт успешной работы на&nbsp;инвестиционных рынках дает Billi inc Corp возможность создавать портфели
    инвестиционных инструментов, помогающие всем заинтересованным в&nbsp;инвестировании стать реальными инвесторами
    и&nbsp;достичь финансовой стабильности и&nbsp;свободы.</p>
  <img src="img/bgs/about-bg.png" alt="О нас" class="about__img">
</div>