<p class="guarantee__text">Наш главный приоритет&nbsp;&mdash; обеспечение высокого качества обслуживания и&nbsp;достижение наилучших финансовых
результатов для наших инвесторов. Мы&nbsp;делаем все возможное для того, чтобы наши ценности, репутация
и&nbsp;профессионализм полностью соответствовали требованиям наших инвесторов.</p>
<h2 class="guarantee__title title">Мы гарантируем</h2>
<ul class="guarantee__list list-reset">
  <li class="guarantee__item">Высокую рентабельность на&nbsp;основе новых инвестиционных стратегий</li>
  <li class="guarantee__item">Стабильный доход с&nbsp;минимальным риском</li>
  <li class="guarantee__item">Безопасность инвестиций</li>
  <li class="guarantee__item">Легкий доступ к&nbsp;личному аккаунту для управления вашим инвестиционным капиталом</li>
  <li class="guarantee__item">Быстрый и&nbsp;простой вывод средств с&nbsp;помощью любой электронной платежной системы</li>
  <li class="guarantee__item">Индивидуальный подход и&nbsp;высокое качество обслуживания каждого из&nbsp;наших инвесторов</li>
</ul>