<header class="header @class">
  <div class="container header__container">
    <a href="index.html" class="header__logo">
      <img src="img/logos/logo.png" alt="Billi Inc Corp"/>
    </a>
    <nav class="header__nav hd-nav-js">
      <ul class="header__list list-reset">
        <li class="header__item">
          <a href="#" class="header__link">О нас</a>
          <ul class="header__sub-list list-reset">
            <li class="header__sub-item"><a href="#" class="header__sub-link">О нас</a></li>
            <li class="header__sub-item"><a href="#" class="header__sub-link">Наш подход</a></li>
            <li class="header__sub-item"><a href="#" class="header__sub-link">Документы</a></li>
          </ul>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Почему именно Мы</a>
          <ul class="list-reset header__sub-list">
            <li class="header__sub-item"><a href="#" class="header__sub-link">Наши сильные стороны</a></li>
            <li class="header__sub-item"><a href="#" class="header__sub-link">Инвестируй с нами</a></li>
            <li class="header__sub-item"><a href="#" class="header__sub-link">Инвестирование</a></li>
          </ul>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Продукты и Сервисы</a>
          <ul class="list-reset header__sub-list header__sub-list--third">
            <li class="header__sub-item"><a href="#" class="header__sub-link">Инвестиционные программы</a></li>
            <li class="header__sub-item">
              <a href="#" class="header__sub-link">Наше портфолио:</a>
              <ul class="header__inner-list">
                <li class="header__sub-item"><a href="#" class="header__sub-link header__sub-link--grey">Недвижимость в Москве и
                    Турции</a></li>
                <li class="header__sub-item"><a href="#" class="header__sub-link header__sub-link--grey">Микрофинансы</a></li>
                <li class="header__sub-item"><a href="#" class="header__sub-link header__sub-link--grey">IT проекты и Стартапы</a>
                </li>
                <li class="header__sub-item"><a href="#" class="header__sub-link header__sub-link--grey">Продукты здоровья</a></li>
                <li class="header__sub-item"><a href="#" class="header__sub-link header__sub-link--grey">Игры</a></li>
                <li class="header__sub-item"><a href="#" class="header__sub-link header__sub-link--grey">Благотворительность</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header__btns">
      <a href="#" class="header__btn">Вход</a>
      <a href="reg.html" class="header__btn header__btn--border">Регистрация</a>
    </div>
    <button class="burger header__burger"></button>
  </div>
</header>