<section class="strengths">
  <div class="container strengths__container">
    <h2 class="strengths__title title">Наши сильные стороны</h2>
    <div class="strengths__wrapper">
      <ul class="strengths__list list-reset">
        <li class="strengths__item strengths__item--first">Анатомическое<br />Мышление</li>
        <li class="strengths__item strengths__item--second">Исследования<br />Стратегии</li>
        <li class="strengths__item strengths__item--third">Фокус&nbsp;на<br />Наших&nbsp;Клиентах</li>
        <li class="strengths__item strengths__item--fourth">Уникальные&nbsp;инвестиции<br />Портфолио</li>
        <li class="strengths__item strengths__item--fifth">Основные&nbsp;принципы<br>Ответственные&nbsp;инвестиции</li>
      </ul>
      <img src="img/logo.png" alt="Billi Inc Corp" class="strengths__logo" />
    </div>
  </div>
</section>