<section class="projects">
  <div class="container projects__container">
    <h2 class="projects__title title">Наши проекты</h2>
    <div class="projects__wrapper">
      <div class="swiper projects__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide projects__slide">
            <div class="projects__upper">
              <strong class="projects__subtitle">Uniswap</strong>
              <a href="#" class="projects__btn btn btn--transparent">Подробнее</a>
            </div>
            <p class="projects__descr">Uniswap - это децендтрализованная биржа токенов</p>
          </div>
          <div class="swiper-slide projects__slide">
            <div class="projects__upper">
              <strong class="projects__subtitle">Uniswap</strong>
              <a href="#" class="projects__btn btn btn--transparent">Подробнее</a>
            </div>
            <p class="projects__descr">Uniswap - это децендтрализованная биржа токенов</p>
          </div>
          <div class="swiper-slide projects__slide">
            <div class="projects__upper">
              <strong class="projects__subtitle">Uniswap</strong>
              <a href="#" class="projects__btn btn btn--transparent">Подробнее</a>
            </div>
            <p class="projects__descr">Uniswap - это децендтрализованная биржа токенов</p>
          </div>
        </div>
      </div>
      <div class="projects__right">
        <div class="projects__btns">
          <div class="swiper-button-prev btn btn--transparent"></div>
          <div class="swiper-button-next btn btn--transparent"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>