<section class="tagline">
  <div class="container tagline__container">
    <div class="tagline__top">
      <img src="img/logos/logo.png" alt="Billi Inc Corp" />
      <a href="auth.html" class="tagline__ref tagline__ref--entry">Вход</a>
      <a href="reg.html" class="tagline__ref tagline__ref--border">Регистрация</a>
    </div>
    <h1 class="tagline__title title">Хотите стать<br />нашим<br />партнером?</h1>
    <div class="tagline__bottom">
      <a href="reg.html" class="tagline__btn">Зарегестрируйтесь сейчас</a>
      <nav class="tagline__nav nav">
        <ul class="tagline__list list-reset">
          <li class="tagline__item">
            <a href="about.html" class="tagline__link">О нас</a>
            <ul class="tagline__sub-list list-reset">
              <li class="tagline__sub-item"><a href="about.html" class="tagline__sub-link">О нас</a></li>
              <li class="tagline__sub-item"><a href="#" class="tagline__sub-link">Наш подход</a></li>
              <li class="tagline__sub-item"><a href="#" class="tagline__sub-link">Документы</a></li>
            </ul>
          </li>
          <li class="tagline__item">
            <a href="#" class="tagline__link">Почему именно Мы</a>
            <ul class="tagline__sub-list tagline__sub-list--second list-reset">
              <li class="tagline__sub-item"><a href="#" class="tagline__sub-link">Наши сильные стороны</a></li>
              <li class="tagline__sub-item"><a href="#" class="tagline__sub-link">Инвестируй с нами</a></li>
              <li class="tagline__sub-item"><a href="#" class="tagline__sub-link">Инвестиции</a></li>
            </ul>
          </li>
          <li class="tagline__item">
            <a href="#" class="tagline__link">Продукты и сервисы</a>
            <ul class="tagline__sub-list tagline__sub-list--third list-reset">
              <li class="tagline__sub-item"><a href="#" class="tagline__sub-link">Инвестиционные программы</a></li>
              <li>
                <a href="#" class="tagline__sub-link">Наше портфолио:</a>
                <ul class="tagline__inner-list">
                  <li class="tagline__sub-item"><a href="#" class="tagline__sub-link tagline__sub-link--grey">Недвижимость в Москве и Турции</a></li>
                  <li class="tagline__sub-item"><a href="#" class="tagline__sub-link tagline__sub-link--grey">Микрофинансы</a></li>
                  <li class="tagline__sub-item"><a href="#" class="tagline__sub-link tagline__sub-link--grey">IT проекты и Стартапы</a></li>
                  <li class="tagline__sub-item"><a href="#" class="tagline__sub-link tagline__sub-link--grey">Продукты здоровья</a></li>
                  <li class="tagline__sub-item"><a href="#" class="tagline__sub-link tagline__sub-link--grey">Игры</a></li>
                  <li class="tagline__sub-item"><a href="#" class="tagline__sub-link tagline__sub-link--grey">Благотворительность</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>