<section class="partners">
  <div class="container">
    <h2 class="partners__title title">Партнеры</h2>
    <ul class="partners__list list-reset">
      <li class="partners__item">
        <img src="img/partners-logos/1.png" alt="New Haus" class="partners__img">
        <strong class="partners__subtitle">New Haus</strong>
        <p class="partners__descr">New Haus&nbsp;&mdash; это международное агентство зарубежной недвижимости и&nbsp;инвестиционно-строительная компания.</p>
      </li>
      <li class="partners__item">
        <img src="img/partners-logos/2.png" alt="New Haus" class="partners__img">
        <strong class="partners__subtitle">New Haus</strong>
        <p class="partners__descr">New Haus&nbsp;&mdash; это международное агентство зарубежной недвижимости и&nbsp;инвестиционно-строительная компания.</p>
      </li>
    </ul>
    <a href="reg.html" class="partners__btn">Зарегистрируйтесь сейчас</a>
  </div>
</section>