<section class="idx-news">
  <div class="container idx-news__container">
    <h2 class="idx-news__title title">Новости</h2>
    <div class="idx-news__wrapper">
      <div class="idx-news__left">
        <div class="news-item">
          <div class="news-item__container">
            <strong class="news-item__title">Китайским компаниям, работающим с персональными данными, запретят IPO в
              США</strong>
            <p class="news-item__descr">Издание The Wall Street Journal сообщает, кто власти КНР планируют ввести
              новые
              правила, которые запретят китайским компаниям, работающим с большим объемом конфиденциальных данных
              пользователей, проводить IPO в США.
              Источники издания утверждают, что в соответствии с новыми правилами, получать официальное разрешение на IPO
              за
              рубежом от межведомственного комитета, который будет создан в ближайшие месяцы.</p>
            <span class="news-item__date">22 май 2021</span>
          </div>
        </div>
        <a href="news.html" class="idx-news__btn">Читать все</a>
      </div>
      <div class="news-item">
        <img src="img/news-img/1.png" alt="Китайским компаниям, работающим с персональными данными, запретят IPO в
                        США" class="news-item__img" />
        <div class="news-item__container">
          <strong class="news-item__title">Китайским компаниям, работающим с персональными данными, запретят IPO в
            США</strong>
          <p class="news-item__descr">Издание The Wall Street Journal сообщает, кто власти КНР планируют ввести
            новые
            правила, которые запретят китайским компаниям, работающим с большим объемом конфиденциальных данных
            пользователей, проводить IPO в США.
            Источники издания утверждают, что в соответствии с новыми правилами, получать официальное разрешение на IPO
            за
            рубежом от межведомственного комитета, который будет создан в ближайшие месяцы.</p>
          <span class="news-item__date">22 май 2021</span>
        </div>
      </div>
    </div>
  </div>
</section>