<section class="projects">
  <div class="container projects__container">
    <h2 class="projects__title title">Наши проекты</h2>
    <div class="swiper projects__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide projects__slide">
          <div class="projects__upper">
            <strong class="projects__subtitle">Uniswap</strong>
            <button class="projects__btn btn">Подробнее</button>
          </div>
          <p class="projects__descr">Uniswap - это децендтрализованная биржа токенов</p>
        </div>
        <div class="swiper-slide projects__slide">
          <div class="projects__upper">
            <strong class="projects__subtitle">Uniswap</strong>
            <button class="projects__btn btn">Подробнее</button>
          </div>
          <p class="projects__descr">Uniswap - это децендтрализованная биржа токенов</p>
        </div>
        <div class="swiper-slide projects__slide">
          <div class="projects__upper">
            <strong class="projects__subtitle">Uniswap</strong>
            <button class="projects__btn btn">Подробнее</button>
          </div>
          <p class="projects__descr">Uniswap - это децендтрализованная биржа токенов</p>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>