<section class="tagline">
  <div class="container tagline__container">
    <div class="tagline__top">
      <img src="img/logo.png" alt="Billi Inc Corp" />
      <a href="auth.html" class="tagline__ref">Вход</a>
      <a href="reg.html" class="tagline__ref">Регистрация</a>
    </div>
    <h1 class="tagline__title title">Хотите стать<br />нашим<br />партнером?</h1>
    <div class="tagline__bottom">
      <a href="reg.html" class="tagline__btn">Зарегестрируйтесь сейчас<span class="line"></span></a>
      <nav class="tagline__nav nav">
        <ul class="tagline__list list-reset">
          <li class="tagline__item">
            <a href="#" class="tagline__link">О нас</a>
            <!-- <ul class="tagline__sub-list list-reset">
              <li class="tagline__sub-item"><a href="#" class="tagline__sub-link">О нас</a></li>
              <li class="tagline__sub-item"><a href="#" class="tagline__sub-link">Наш подход</a></li>
              <li class="tagline__sub-item"><a href="#" class="tagline__sub-link">Документы</a></li>
              <li class="tagline__sub-item"><a href="#" class="tagline__sub-link">О нас</a></li>
              <li class="tagline__sub-item"><a href="#" class="tagline__sub-link">Наш подход</a></li>
              <li class="tagline__sub-item"><a href="#" class="tagline__sub-link">Документы</a></li>
            </ul> -->
          </li>
          <li class="tagline__item"><a href="#" class="tagline__link">Почему именно Мы</a></li>
          <li class="tagline__item"><a href="#" class="tagline__link">Продукты и сервисы</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>