<section class="idx-info">
  <div class="container">
    <h2 class="idx-info__title title">Как это работает</h2>
    <ul class="idx-info__list list-reset">
      <li class="idx-info__item">
        <div class="idx-info__img idx-info__img--first">
        </div>
        <strong class="idx-info__subtitle">Регистрация</strong>
        <p class="idx-info__descr">Вы&nbsp;должны стать членом нашего фонда. Для этого Вам необходимо зарегистрироваться
          на&nbsp;нашем сайте
          и&nbsp;согласиться со&nbsp;всеми юридическими требованиями в&nbsp;качестве участника.</p>
      </li>
      <li class="idx-info__item">
        <div class="idx-info__img idx-info__img--second"></div>
        <strong class="idx-info__subtitle">Верификация</strong>
        <p class="idx-info__descr">После регистрации вы&nbsp;должны пройти быстрый процесс проверки.</p>
      </li>
      <li class="idx-info__item">
        <div class="idx-info__img idx-info__img--third"></div>
        <strong class="idx-info__subtitle">Участие</strong>
        <p class="idx-info__descr">На&nbsp;заключительном этапе вы&nbsp;можете выбрать из&nbsp;нашего инвестиционного портфеля подходящий для вас продукт.</p>
      </li>
    </ul>
  </div>
</section>