// если вы хотите использовать sass-переменные - удалите root
:root {
  // colors
  --color-black: #000;
  --color-woodsmoke: #111215;
  --color-white: #fff;
  --color-alabaster: #fafafa;
  --color-gallery: #ececec;
  --color-primary: #b8860b;
  --color-primary-hover: #c5900b;
  --color-emperor: #545454;
  --color-shuttle-gray: #696b70;
  --color-silver: #bbb;
  --color-about-bg: #fbfbfb;

  // fonts
  --font-family: "PT Serif";
  --font-regular: 400 16px var(--font-family);
  --font-bold: 500 16px var(--font-family);

  // offset

  --big-offset: 50px;
  --average-offset: 30px;
  --middle-offset: 25px;
  --small-offset: 10px;
}