// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/idx-tagline";
@import "./components/idx-info";
@import "./components/idx-strengths";
@import "./components/idx-projects";
@import "./components/idx-news";
@import "./components/idx-partners";
@import "./components/about";
@import "./components/reg";
@import "./components/footer";

// универсальные стили

.title {
  font: var(--font-regular);
  font-size: 52px;
}

.arrow {
  position: relative;
  display: inline-block;
  margin: 0 0 0 var(--small-offset);
  width: 20px;
  background-color: var(--color-white);
  transition: width 0.3s ease-in-out;

  &,
  &::before,
  &::after {
    height: 1px;
    background-color: var(--color-white);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: -3px;
    display: block;
    width: 11px;
  }

  &::before {
    top: -4px;
    transform: rotate(45deg);
  }

  &::after {
    top: 3px;
    transform: rotate(135deg);
  }
}
