// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";

// index.html
@import "./components/idx-tagline";
@import "./components/idx-info";
@import "./components/idx-strengths";
@import "./components/idx-projects";
@import "./components/idx-news";
@import "./components/idx-partners";

// about.html
@import "./components/abt-info";
@import "./components/abt-directions";
@import "./components/abt-guarantee";
@import "./components/abt-conclusion";

// reg.html
@import "./components/reg";

// news.html
@import "./components/news";

// item.html
@import "./components/item";

//
@import "./components/footer";

// универсальные стили

.title {
  font: var(--font-regular);
  font-size: 52px;

  @include small-screen {
    font-size: 39px;
  }
}

.news-item {
  display: block;
  width: 100%;
  background-color: var(--color-white);
  transition: background-color 0.3s ease-in-out;

  &:not(:last-child) {
    margin: 0 0 var(--big-offset) 0;
  }

  &__container {
    padding: var(--big-offset);

    @include small-screen {
      padding: var(--middle-offset);
    }
  }

  &__img {
    width: 100%;
  }

  &__title {
    font: var(--font-regular);
    font-size: 26px;
    line-height: 28px;
    color: var(--color-woodsmoke);
    transition: color 0.3s ease-in-out;
  }

  &__descr {
    margin: var(--middle-offset) 0 var(--big-offset) 0;
    font: var(--font-regular);
    font-size: 19px;
    color: var(--color-shuttle-gray);
  }

  &:hover {
    background-color: transparent;

    .news-item__title {
      color: var(--color-primary);
    }
  }
}

.custom-container {
  max-width: 1040px;
}

.date {
  font: var(--font-regular);
  font-size: 19px;
  color: var(--color-silver);
}

.burger {
  border: none;
  transform: rotate(180deg);
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    display: block;
    margin-left: -6px;
  }

  &::before {
    margin-top: 5px;
    width: calc(var(--burger-width) / 2);
  }

  &,
  &::before,
  &::after {
    height: 2px;
  }

  &,
  &::after {
    width: 27px;
  }

  &::after {
    margin-top: -15px;
  }

  &-close {
    position: absolute;
    right: var(--big-offset);
    top: calc(var(--big-offset) + 15px);
    z-index: 11;
    padding: 0;
    width: 0;
    height: 0;

    &::before,
    &::after {
      background-color: var(--color-black);
    }

    &::before {
      margin-top: -8px;
      width: var(--burger-width);
      transform: rotate(135deg);
    }

    &::after {
      margin-top: -2px;
      transform: rotate(45deg);
    }
  }

  &--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.on-mobile {
  display: none;

  @include small-screen {
    display: block;
  }
}

.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

.disable-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
